<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mouaincorporate.matt.MapConnect">

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!-- Facebook permission -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Write Files -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.mouaincorporate.matt.MapConnect.App"
        android:allowBackup="true"
        android:icon="@drawable/rhrnlogo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.mouaincorporate.matt.MapConnect.MainActivity"
            android:windowSoftInputMode="adjustPan" />

        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.mouaincorporate.matt.MapConnect.LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.mouaincorporate.matt.MapConnect.RegisterActivity" />
        <activity android:name="com.mouaincorporate.matt.MapConnect.ChatActivity" />
        <activity android:name="com.mouaincorporate.matt.MapConnect.MessageListActivity" />
        <activity android:name="com.mouaincorporate.matt.MapConnect.NewMessageActivity" />
        <activity android:name="com.mouaincorporate.matt.MapConnect.AboutMeActivity" />
        <activity android:name="com.mouaincorporate.matt.MapConnect.ViewUserActivity" />
        <activity android:name="com.mouaincorporate.matt.MapConnect.WallActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.mouaincorporate.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="134cf1747263e127c412def9f67626d8c3389c82" />

        <activity android:name="com.mouaincorporate.matt.MapConnect.ForgotPasswordActivity" />
        <activity android:name="com.mouaincorporate.matt.MapConnect.AlmostDoneActivity" />
        <activity android:name="com.mouaincorporate.matt.MapConnect.ViewPostActivity" />
        <activity android:name="com.mouaincorporate.matt.MapConnect.CityEventsActivity" />
        <activity android:name="com.mouaincorporate.matt.MapConnect.ViewEventActivity" />
        <activity android:name="com.mouaincorporate.matt.MapConnect.CommentsListActivity" />


        <service
            android:name="com.mouaincorporate.matt.MapConnect.notifications.RHRNMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name="com.mouaincorporate.matt.MapConnect.notifications.RHRNInstanceIDService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name="com.mouaincorporate.matt.MapConnect.FilterCityActivity"
            android:label="@string/title_activity_filter_city"
            android:theme="@style/AppTheme" />
        <activity android:name="com.mouaincorporate.matt.MapConnect.MorePostsActivity" />
        <activity android:name="com.mouaincorporate.matt.MapConnect.MoreEventsActivity" />
        <activity android:name="com.mouaincorporate.matt.MapConnect.MoreSharedPostsActivity"/>
        <activity android:name="com.mouaincorporate.matt.MapConnect.MoreSharedEventsActivity"/>
        <activity android:name="com.mouaincorporate.matt.MapConnect.FollowingListActivity" />
        <activity android:name="com.mouaincorporate.matt.MapConnect.FollowerListActivity"></activity>
    </application>

</manifest>